.aims-no-border{
    border-color: white !important;
    padding: 3px 8px !important;
}

.aims-sub-head {
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    background: rgba(156, 39, 176, 0.1);
    border-radius: 5px;
    color: #3c4858;
    text-decoration: none;
}

.aims-success {
    background-color: #5eb9076b;
    color: darkgreen;
    padding: 7px 0;
    border-radius: 4px;
    border: 1px solid darkgreen;
}

.aims-error {
    background-color: #fb9a9a6b;
    color: darkred;
    padding: 7px 0;
    border-radius: 4px;
    border: 1px solid darkred;
}

.aims-primary-text {
    font-size: 1.063rem;
}

.aims-wrap-content {
    display: inline-block;
    margin: 0 !important;
}

.aims-material-btn {
    margin: 0 8px;
    padding: 0;
    background-color: #ffffff00;
    color: #9c27b05f;
}

.aims-material-btn:hover {
    color: #9c27b0;
    outline: none !important;
}

.aims-trans {
    color: #ffffff00;
    background-color: #ffffff00;
    border: none;
    padding: 0;
    outline: none !important;
}

.aims-tbl-col-1 {
    width: 4em !important;
}

.aims-tbl-col-2 {
    width: 8em !important;
}

.aims-btn-right {
    padding: 5px 10px;
    margin-right: 10px;
    outline: none !important;
}

.aims-error-input {
    background: #ff00003f;
}

.aims-form-input-text {
    width: 100%;
}

.aims-form-select {
    border: 1px solid #ccc;
    border-radius: 0;
    width: 100%;
}