<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Aims Customers</title>
</head>
<body>
    {% if all_customers %}
        <ul>
            {% for customer in all_customers %}
                <li><a href="{% url 'inventory:cust_details' customer.pk %}">{{ customer.customer_name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>