{% extends 'aims_base.html' %}
{% load mathfilters %}
{% block title %}Customers{% endblock %}
{% block customers_active %}active{% endblock %}
{% block page_head %}Customer Details{% endblock %}
{% block body %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary float-left">
                    <div class="col-md-8 float-left">
                        <h4 class="card-title ">{{ customer.first_name }} {{ customer.last_name }}</h4>
                        <p class="card-category">{{ customer.address }}</p>
                    </div>
                    <div class="float-right table-condensed">
                    <table>
                        <tr><td>Phone:</td><td>{{ customer.phone }}</td></tr>
                        <tr><td>Email:</td><td>{{ customer.email }}</td></tr>
                    </table>
                  </div>
                </div>
                <div class="card-body">
                  <div class="aims-sub-head">
                      <div class="h4 aims-wrap-content">Payment</div>
                      <a class="aims-wrap-content float-right my-auto" href="{% url 'inventory:payment' customer.pk %}">
                        <i class="material-icons aims-material-btn">add</i>
                      </a>
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary">
                        <th>ID</th>
                        <th>Received By</th>
                        <th>Method</th>
                        <th>Payment Date</th>
                        <th>Amount</th>
                        <th class="aims-tbl-col-1"></th>
                      </thead>
                      <tbody>
                      {% for payment in customer.expenses.all %}
                        {% if not payment.is_draft %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ payment.received_by }}</td>
                          <td>{{ payment.payment_method }}</td>
                          <td>{{ payment.payment_date|date:"M d, Y h:i:s A" }}</td>
                          <td class="text-primary">&#8377;{{ payment.amount }}</td>
                          <td>
                            <a class="aims-wrap-content float-right my-auto" href="{% url 'inventory:edit_payment' customer.pk payment.pk %}">
                              <i class="material-icons aims-material-btn">edit</i>
                            </a>
                          </td>
                        </tr>
                        {% endif %}
                      {% endfor %}
                      </tbody>
                      <tfoot class="text-primary">
                        <tr>
                          <td class="text-right aims-no-border aims-primary-text" colspan="4">Total</td>
                          <td class="aims-no-border aims-primary-text">&#8377;{{ total_payment }}</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <div class="aims-sub-head">
                    <div class="h4 aims-wrap-content">Purchase</div>
                    <a class="aims-wrap-content float-right my-auto" href="{% url 'inventory:purchase' customer.pk %}">
                      <i class="material-icons aims-material-btn">add</i>
                    </a>
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>ID</th>
                        <th>Purchase from</th>
                        <th>Item</th>
                        <th>Unit price</th>
                        <th class="aims-tbl-col-1">No. Units</th>
                        <th>Date</th>
                        <th>Total Amount</th>
                        <th class="aims-tbl-col-1"></th>
                      </thead>
                      <tbody>
                      {% for purchase in customer.purchase.all %}
                        {% if not purchase.is_draft %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ purchase.purchase_from }}</td>
                          <td>{{ purchase.item }}</td>
                          <td>{{ purchase.unit_price }}</td>
                          <td>{{ purchase.num_unit }}</td>
                          <td>{{ purchase.purchase_date|date:"d/m/Y" }}</td>
                          <td class="text-primary"> &#8377;{{ purchase.total_cost }}</td>
                          <td>
                            <a class="aims-wrap-content float-right my-auto" href="{% url 'inventory:edit_purchase' customer.pk purchase.pk %}">
                              <i class="material-icons aims-material-btn">edit</i>
                            </a>
                          </td>
                        </tr>
                        {% endif %}
                      {% endfor %}
                      </tbody>
                      <tfoot class="text-primary">
                        <tr>
                          <td class="text-right aims-no-border aims-primary-text" colspan="6">Total</td>
                          <td class="aims-no-border aims-primary-text">&#8377;{{ total_purchase }}</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <div class="aims-sub-head">
                    <div class="h4 aims-wrap-content">Consolidated</div>
                    <i class="material-icons aims-wrap-content float-right my-auto aims-trans">add</i>
                  </div>
                  <div class="float-right col-md-5">
                    <table class="table-hover table-condensed mx-auto">
                      <tbody>
                        <tr>
                          <td class="text-right aims-no-border" colspan="4">Total Payment</td>
                          <td class="aims-no-border">&#8377;{{ total_payment }}</td>
                        </tr>
                        <tr>
                          <td class="text-right aims-no-border" colspan="4">Total Purchase</td>
                          <td class="aims-no-border">&#8377;{{ total_purchase }}</td>
                        </tr>
                        <tr class="text-primary">
                          <td class="text-right aims-no-border aims-primary-text" colspan="4"> {{ balance_str }} </td>
                          <td class="aims-no-border aims-primary-text">&#8377;{{ total_balance }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block tailscript %}
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
{% endblock %}
