{% extends 'aims_base.html' %}
{% block title %}Payment{% endblock %}
{% block customers_active %}active{% endblock %}
{% block page_head %}Payments of <!--suppress HtmlFormInputWithoutLabel -->
  <a href="{% url 'inventory:cust_detail' customer.pk %}">{{ customer.first_name }} {{ customer.last_name }}</a>{% endblock %}
{% block body %}
      <div class="content">
        <div class="container-fluid">
          {% if error_msg or success_msg %}
          <div class="row">
            <div class="col-md-4 mx-auto text-center{% if success_msg %} aims-success{% else %} aims-error{% endif %}">
            {% if error_msg %}{{ error_msg|safe }}{% else %}{{ success_msg }}{% endif %}
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <div class="col-md-4 float-left">
                    <h4 class="card-title">Payment List</h4>
                    <p class="card-category">All the payment done by the customer</p>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <form method="post" action="{% url 'inventory:payment' customer.pk %}" id="payment-form">
                    {% csrf_token %}
                      <table class="table" id="payment-tbl">
                        <thead class="text-primary">
                          <th>Received By</th>
                          <th>Method</th>
                          <th>Payment Date</th>
                          <th>Amount</th>
                        </thead>
                        <tbody>
                        {% for payment in draft %}<tr>
                          <td>
                            <select class="aims-form-select" name="received-by{{ forloop.counter0 }}" type="text" tabindex="1">
                            {% for user in users %}
                              <option value="{{user.user_id}}" {% if payment.received_by.user_id == user.user_id %}selected{% endif %}>{{ user.user_id }}</option>
                            {% endfor %}
                            </select>
                          </td>
                          <td>
                            <select class="aims-form-select" name="method{{ forloop.counter0 }}" type="text" tabindex="1">
                              <option value="cash" {% if payment.payment_method == 'cash' %} selected {% endif %}>Cash</option>
                              <option value="card" {% if payment.payment_method == 'card' %} selected {% endif %}>Card</option>
                              <option value="online" {% if payment.payment_method == 'online' %} selected {% endif %}>Online</option>
                              <option value="cheque" {% if payment.payment_method == 'cheque' %} selected {% endif %}>Cheque</option>
                            </select>
                          </td>
                          <td><input class="aims-form-input-text" type="text" name="payment-date{{ forloop.counter0 }}" value="{{ payment.payment_date|date:"d/m/Y" }}" tabindex="1"></td>
                          <td><input class="aims-form-input-text" type="text" name="payment{{ forloop.counter0 }}" value="{{ payment.amount }}" tabindex="1"></td>
                          <td>
                            <button class="btn-sm rounded-circle aims-trans rmBtn">
                              <i class="material-icons aims-material-btn">clear</i>
                            </button>
                          </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      <input type="hidden" value="submit" name="submit-type" id="submit-type">
                      <input type="button" class="btn-success pull-right rounded aims-btn-right" value="Add New" id="new-payment" tabindex="1">
                      <input type="button" class="btn-outline-dark pull-right rounded aims-btn-right" value="Save draft" id="save-draft" tabindex="1">
                      <button class="btn-primary pull-right rounded aims-btn-right" type="submit">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block tailscript %}
  <script>
    function getPaymentTableRow() {
      let num_rows = $("#payment-tbl > tbody > tr").length;
      let blank_line = '<tr>' +
          '<td><select class="aims-form-select" name="received-by' + num_rows + '" type="text" tabindex="1">';
          {% for user in users %}
              blank_line += '<option value="{{user.user_id}}">{{ user.user_id }}</option>';
          {% endfor %}
          blank_line += '</select></td>';
      blank_line += '<td>' +
            '<select class="aims-form-select" name="method' + num_rows + '" type="text" tabindex="1">' +
            '<option value="cash">Cash</option>' +
            '<option value="card">Card</option>' +
            '<option value="online">Online</option>' +
            '<option value="cheque">Cheque</option>' +
          '</td>';

      blank_line += '<td><input class="aims-form-input-text" name="payment-date' + num_rows + '" type="text" tabindex="1" value="0"></td>';
      blank_line += '<td><input class="aims-form-input-text" name="payment' + num_rows + '" type="text" tabindex="1" value="0"></td>';
      blank_line += '<td><button class="btn-sm rounded-circle aims-trans rmBtn">';
      blank_line += '<i class="material-icons aims-material-btn">clear</i>';
      blank_line += '</button></td>';
      return blank_line;
    }

    function addNewRowHtml() {
      $("#payment-tbl > tbody").append(getPaymentTableRow());
      $("#payment-tbl > tbody > tr:last > td:first > input").focus();
      let date_now = new Date();
      let date_str = ("0" + date_now.getDate()).slice(-2) + "/" + date_now.getMonth() + "/" + date_now.getFullYear();
      $("#payment-tbl > tbody > tr:last > td:nth-child(3) > input").val(date_str);
    }

    function isFormValid() {
      let last_row_inputs = $("#payment-tbl > tbody > tr:last :input");
      let received_by = last_row_inputs.eq(0);
      let payment = last_row_inputs.eq(3);
      let ret = true;

      if(isNaN(payment.val()) || Number(payment.val()) === 0) {
        payment.attr('class', 'aims-form-input-text aims-error-input');
        ret = false;
      } else {
        payment.attr('class', 'aims-form-input-text');
      }
      return ret;
    }

    $(document).ready(function () {
      addNewRowHtml();
      $("#save-draft").click(function () {
        if(isFormValid()) {
          $("#submit-type").val("draft");
          $("#payment-form").submit();
        }
      });

      $("#new-payment").click(function () {
        if(!isFormValid()) {
          return;
        }
        addNewRowHtml();
      });

      $(this).keypress(function (e) {
        let key = e.which;
        if(key === 13) {
          $('#new-payment').click();
          return false;
        }
      });

      $("#payment-tbl").on('click', '.rmBtn', function () {
        $(this).closest('tr').remove();
      });
    });

  </script>
{% endblock %}
