{% extends 'aims_base.html' %}
{% block title %}Purchase{% endblock %}
{% block customers_active %}active{% endblock %}
{% block page_head %}Purchase for <!--suppress HtmlFormInputWithoutLabel -->
  <a href="{% url 'inventory:cust_detail' customer.pk %}">{{ customer.first_name }} {{ customer.last_name }}</a>{% endblock %}
{% block body %}
  <!--suppress HtmlFormInputWithoutLabel -->
  <div class="content">
        <div class="container-fluid">
          {% if error_msg or success_msg %}
          <div class="row">
            <div class="col-md-4 mx-auto text-center{% if success_msg %} aims-success{% else %} aims-error{% endif %}">
            {% if error_msg %}{{ error_msg|safe }}{% else %}{{ success_msg }}{% endif %}
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <div class="col-md-4 float-left">
                    <h4 class="card-title">Purchase List</h4>
                    <p class="card-category">All purchase done for the customer</p>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <form method="post" action="{% url 'inventory:purchase' customer.pk %}" id="purchase-form">
                    {% csrf_token %}
                      <table class="table" id="purchase-tbl">
                        <thead class="text-primary">
                          <th>Purchase from</th>
                          <th>Item</th>
                          <th>Unit price</th>
                          <th class="aims-tbl-col-1">No. Units</th>
                          <th>Total Amount</th>
                          <th>Date</th>
                          <th class="aims-tbl-col-1"></th>
                        </thead>
                        <tbody>
                        {% for purchase in draft %}
                          <tr>
                            <td><input class="aims-form-input-text" type="text" name="purchase-from{{ forloop.counter0 }}" placeholder="Purchased from" value="{{ purchase.purchase_from }}" tabindex="1"></td>
                            <td><input class="aims-form-input-text" type="text" name="item-name{{ forloop.counter0 }}" placeholder="Item Name" value="{{ purchase.item }}" tabindex="1"></td>
                            <td><input class="aims-form-input-text" type="text" name="unit-price{{ forloop.counter0 }}" tabindex="1" value="{{ purchase.unit_price }}" ></td>
                            <td><input class="aims-tbl-col-1" type="text" name="num-units{{ forloop.counter0 }}" tabindex="1" value="{{ purchase.num_unit }}" ></td>
                            <td><input class="aims-form-input-text" type="text" name="total-cost{{ forloop.counter0 }}" value="{{ purchase.total_cost }}"  readonly></td>
                            <td><input class="aims-tbl-col-2" type="text" name="purchase-date{{ forloop.counter0 }}" value="{{ purchase.purchase_date|date:"d/m/Y" }}" tabindex="1"></td>
                            <td>
                              <button class="btn-sm rounded-circle aims-trans rmBtn">
                                <i class="material-icons aims-material-btn">clear</i>
                              </button>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      <input type="hidden" value="submit" name="submit-type" id="submit-type">
                      <input type="button" class="btn-success pull-right rounded aims-btn-right" value="Add New" id="new-purchase" tabindex="1">
                      <input type="button" class="btn-outline-dark pull-right rounded aims-btn-right" value="Save draft" id="save-draft" tabindex="1">
                      <button class="btn-primary pull-right rounded aims-btn-right" type="submit">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block tailscript %}
    <script>
      function getPurchaseTableRow() {
        let num_rows = $("#purchase-tbl > tbody > tr").length;
        let blank_line = '<tr><td><input class="aims-form-input-text" type="text" name="purchase-from' + num_rows + '" placeholder="Purchased from" tabindex="1"></td>';
        blank_line += '<td><input class="aims-form-input-text" name="item-name' + num_rows + '" type="text" placeholder="Item Name" tabindex="1"></td>';
        blank_line += '<td><input class="aims-form-input-text" name="unit-price' + num_rows + '" type="text" tabindex="1" value="0"></td>';
        blank_line += '<td><input class="aims-tbl-col-1" name="num-units' + num_rows + '" type="text" tabindex="1" class="aims-tbl-col-1" value="0"></td>';
        blank_line += '<td><input class="aims-form-input-text" name="total-cost' + num_rows + '" type="text" value="0" readonly></td>';
        blank_line += '<td><input class="aims-tbl-col-2" name="purchase-date' + num_rows + '"type="text" tabindex="1" data-provide="datepicker"></td>';
        blank_line += '<td><button class="btn-sm rounded-circle aims-trans rmBtn">';
        blank_line += '<i class="material-icons aims-material-btn">clear</i>';
        blank_line += '</button></td>';
        return blank_line;
      }

      function updateTotal() {
        let price = $("#purchase-tbl > tbody > tr:last > td:nth-child(3) > input").val();
        let num_units = $("#purchase-tbl > tbody > tr:last > td:nth-child(4) > input").val();
        let total = price * num_units;
        if(!isNaN(total))
          $("#purchase-tbl > tbody > tr:last > td:nth-child(5) > input").val(price * num_units);
      }

      function isFormValid() {
        let last_row_inputs = $("#purchase-tbl > tbody > tr:last :input");
        let from_name = last_row_inputs.eq(0);
        let item_name = last_row_inputs.eq(1);
        let unit_price = last_row_inputs.eq(2);
        let num_unit = last_row_inputs.eq(3);
        let ret = true;

        if(from_name.is(":placeholder-shown")) {
          from_name.attr('class', 'aims-form-input-text aims-error-input');
          ret = false;
        } else {
            from_name.attr('class', 'aims-form-input-text');
        }

        if(item_name.is(":placeholder-shown")) {
          item_name.attr('class', 'aims-form-input-text aims-error-input');
          ret = false;
        } else {
            item_name.attr('class', 'aims-form-input-text');
        }

        if(isNaN(unit_price.val()) || Number(unit_price.val()) === 0) {
          unit_price.attr('class', 'aims-form-input-text aims-error-input');
          ret = false;
        } else {
            unit_price.attr('class', 'aims-form-input-text');
        }

        if(isNaN(num_unit.val()) || Number(num_unit.val()) === 0) {
          num_unit.attr('class', 'aims-error-input aims-tbl-col-1');
          ret = false;
        } else {
            num_unit.attr('class', 'aims-tbl-col-1');
        }

        return ret;
      }

      function addNewRowHtml() {
          $("#purchase-tbl > tbody").append(getPurchaseTableRow());
          $("#purchase-tbl > tbody > tr:last > td:first > input").focus();
          $("#purchase-tbl > tbody > tr:last > td:nth-child(3) > input").on('input', updateTotal);
          $("#purchase-tbl > tbody > tr:last > td:nth-child(4) > input").on('input', updateTotal);
          let date_now = new Date();
          let date_str = ("0" + date_now.getDate()).slice(-2) + "/" + date_now.getMonth() + "/" + date_now.getFullYear();
          $("#purchase-tbl > tbody > tr:last > td:nth-child(6) > input").val(date_str);
      }

      $(document).ready(function () {
        addNewRowHtml();
        $("#new-purchase").click(function () {
          if(!isFormValid()) {
              return;
          }
          addNewRowHtml();
        });
        $("#save-draft").click(function () {
          if(!isFormValid()) {
              return;
          }
          $("#submit-type").val("draft");
          md.showNotification('top', 'center');
          $("#purchase-form").submit();
        });
        $("#purchase-tbl").on('click', '.rmBtn', function () {
          $(this).closest('tr').remove();
        });

        $(this).keypress(function (e) {
          let key = e.which;
          if(key === 13) {
            $('#new-purchase').click();
            return false;
          }
        });
      });
    </script>
{% endblock %}
